[report]
include =
    twitter_oauth_ios/*.py
omit =
    twitter_oauth_ios/__init__.py
    twitter_oauth_ios/migrations/*.py
    twitter_oauth_ios/tests/*.py
exclude_lines =
    if __name__ == .__main__.:
